<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://music.readiz.com/tizen" version="0.1.0" viewmodes="maximized">
  <tizen:application id="ReadizMU01.ReadizMusic" package="ReadizMU01" required_version="5.0"/>
  <content src="index.html"/>
  <name>Readiz Music</name>
  <icon src="icon.png"/>
  <tizen:profile name="tv-samsung"/>
  <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
  <access origin="https://music.readiz.com" subdomains="false"/>
  <tizen:allow-navigation>https://music.readiz.com</tizen:allow-navigation>
  <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable" pointing-device-support="enable"/>
  <tizen:metadata key="http://samsung.com/tv/metadata/use.network" value="true"/>
</widget>
